/* Coolors Exported Palette - coolors.co/e2cfea-a06cd5-6247aa-102b3f-062726 */

/* HSL */
$color1: hsla(282%, 39%, 86%, 1);
$color2: hsla(270%, 56%, 63%, 1);
$color3: hsla(256%, 41%, 47%, 1);
$color4: hsla(206%, 59%, 15%, 1);
$color5: hsla(178%, 73%, 9%, 1);

/* RGB */
$color1: rgba(226, 207, 234, 1);
$color2: rgba(160, 108, 213, 1);
$color3: rgba(98, 71, 170, 1);
$color4: rgba(16, 43, 63, 1);
$color5: rgba(6, 39, 38, 1);